.BrandCard > a {
  background-color: var(--gray-2);
  border-radius: var(--air-xs);
  display: block;
  text-decoration: none;
  text-align: center;
  padding: var(--air);
  font-weight: 600;
}

.BrandCard-nmodels {
  font-weight: 500;
  font-size: 0.95rem;
}

.BrandCards {
  display: grid;
  grid-gap: var(--air);
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}
