.BrandCard > a {
  background-color: var(--white);
  border-radius: var(--air-xs);
  display: block;
  text-decoration: none;
  text-align: center;
  padding: var(--air) var(--air-l);
  font-weight: 600;
  transition: box-shadow 0.2s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.BrandCard > a:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.BrandCard-nmodels {
  font-weight: 500;
  font-size: 0.95rem;
}

.BrandCard-picture {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  margin-bottom: var(--air-xs);
}

.BrandCards {
  display: grid;
  grid-gap: var(--air);
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}
