.ModelDetail-features {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
}

.ModelDetail-features dt {
  flex: 0 0 30%;
}

.ModelDetail-features dd {
  flex: 0 0 70%;
}

.ModelDetail-features dd,
.ModelDetail-features dt {
  padding: var(--air-s) 0;
}

.ModelDetail-table {
  border-collapse: collapse;
  border: 1px solid var(--palette4);
}

.ModelDetail-table thead {
  font-size: 1.4rem;
  color: var(--palette4);
  text-align: left;
}

.ModelDetail-table th {
  border-bottom: 1px solid var(--palette4);
  font-weight: 600;
}

.ModelDetail-table td,
.ModelDetail-table th {
  padding: var(--air);
}

.ModelDetail-table tbody tr:nth-child(even) {
  background-color: var(--palette1-d);
}

.ModelDetail-table td:nth-child(1) {
  width: 60%;
}

.ModelDetail-table td:nth-child(2) {
  width: 40%;
}

.ModelDetail-model {
  color: var(--palette5);
}

.ModelDetail-links h3 {
  color: var(--palette5);
  font-weight: 600;
}
