.Page {
  padding-top: var(--air-l);
  padding-bottom: var(--air-l);
}

.Page-head,
.Page-content {
  margin-bottom: var(--air-l);
}

.Page-head > h1 {
  font-size: var(--h1);
  font-weight: 600;
}

blockquote {
  background: var(--gray-3);
  border-left: 10px solid var(--gray);
  border-radius: var(--air-xs);
  padding: 1em;
  quotes: "\201C""\201D""\2018""\2019";
  margin-bottom: var(--air);
  line-height: 1.6;
}

blockquote:before {
  color: var(--gray);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

cite {
  font-style: italic;
}

.Page-content li {
  line-height: 1.6;
}

code {
  background-color: var(--gray-2);
  font-size: 0.9rem;
  padding: var(--air-xxs) var(--air-xs);
  display: inline-block;
  border-radius: var(--air-xxs);
  font-family: monospace;
}
