.Page {
  padding-top: var(--air-l);
  padding-bottom: var(--air-l);
}

.Page-head,
.Page-content {
  margin-bottom: var(--air-l);
}

.Page-head > h1 {
  font-size: var(--h1);
  font-weight: 600;
}

blockquote {
  background: var(--white-a);
  border-left: 10px solid var(--gray-c);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: var(--gray-c);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

cite {
  font-style: italic;
}
