.SiteHeader {
  padding-top: var(--air-l);
  padding-bottom: var(--air-l);
  text-align: center;
  background-image: url(/images/bg.png);
}

.SiteHeader > nav > a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: var(--air-xs);
  padding-right: var(--air-xs);
}

.SiteHeader-logo {
  display: inline-block;
  font-family: var(--font-logo);
  font-size: 3rem;
  text-decoration: none;
  color: var(--black);
  margin-bottom: var(--air);
}
