.SiteHeader {
  align-items: center;
  display: flex;
  padding-top: calc(var(--air) + 16px);
  padding-bottom: var(--air);
}

.SiteHeader > nav {
  margin-left: auto;
}

.SiteHeader > nav > a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: var(--air-xs);
  padding-right: var(--air-xs);
}

.SiteHeader-logo {
  font-family: var(--font-logo);
  font-size: 3rem;
  text-decoration: none;
  color: var(--palette5);
}

@media only screen and (max-width: 768px) {
  .SiteHeader-logo {
    font-size: 2.6rem;
  }
}
