:root {
  /* Colors */
  --black: #000;
  --white: #fff;
  --hi: #00f;
  --hi-variant: #009;

  --palette1: #edede0;
  --palette2: #fbac47;
  --palette3: #f57948;
  --palette4: #ae734a;
  --palette5: #696258;

  /* Dimensions */
  --air-xxxs: 2px;
  --air-xxs: 6px;
  --air-xs: 10px;
  --air-s: 14px;
  --air: 20px;
  --air-l: 40px;
  --air-xl: 80px;

  /* Typography */
  --font-main: "Work Sans", sans-serif;
  --font-logo: "Lobster", sans-serif;
  --base: 18px;
}
