:root {
  /* Colors */
  --black: #000;
  --black-l: #333;
  --white: #fff;
  --hi: #00f;
  --hi-variant: #009;
  /* Dimensions */
  --air: 20px;
  --air-s: 14px;
  /* Fonts */
  --font-main: "Inter", sans-serif;
}
