:root {
  /* Colors */
  --black: #000;
  --black-l: #333;
  --white: #fff;
  --hi: #00f;
  --hi-variant: #009;

  /* Dimensions */
  --air-s: 14px;
  --air: 20px;
  --air-l: 40px;

  /* Typography */
  --font-main: "Work Sans", sans-serif;
  --base: 18px;
  --h1: 2.4rem;
}
